<!-- views/game.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
</head>
<body>
  <h1>Welcome to the Game, <%= username %>!</h1>
  <!-- Insert your game here -->
  <h3>Difficulty is set to <%= difficulty %></h3>
  <img src="<%= image.url %>" alt="Guess this image!" style="max-width: 300px;">

  <form method="POST" action="/guess">
    <% episodes.forEach(ep => { %>
      <button type="submit" name="guess" value="<%= ep._id %>">
        <%= ep._id %> - <%= ep.title %>
      </button>
    <% }) %>
    <input type="hidden" name="imageId" value="<%= image._id %>">
  </form>
  <div>
    Score: <%= score %>
  </div>

</body>
</html>
